
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header style="background-color:blue; height:100px">
        <h1>This is Header</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="background-color:blue; height:100px">
        <h1>This is Footer</h1>
    </footer>
    <div>
        @RenderSection("rendername", required:false)
    </div>
</body>
</html>
